/*Background*/

Body {
    background-image: url('BGphoto5.jpg');
    color:rgb(247, 247, 247)


/*Top Navigation Bar*/
}

div.container-fluid {
    float: right;
    color: #c9bdbd;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px; 
    list-style: none;
    display: inline-block;
}


li {list-style-type: none;
    display:inline-block;
    padding: right 100px;
    
}

li a {color:rgb(247, 245, 241);
}


